---
import Layout from '../layouts/Layout.astro';
import ButtonComponent from "../components/ButtonComponent";
import Hero from "../components/Hero";
---

<Layout title="Home | James Perkins ">
	<main class="container max-w-6xl mx-auto px-4 mb-20">
		<Hero />
		<div class="my-8">
			<h2 class="text-4xl font-bold text-primary mx-4">Latest posts</h2>
			<div class="container max-w-5xl mx-auto">
			</div>
		</div>

	</main>
	<ButtonComponent client:visible />
</Layout>