---
import BlogPostPreview from "../components/BlogPostPreview.astro"
import Layout from '../layouts/Layout.astro';


let allPosts = await Astro.glob('./post/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<Layout title="Blog posts | James Perkins ">
  <main class="container max-w-3xl mx-auto px-4 mb-20">
    <section aria-label="Blog post list">
      <h1 class="text-5xl font-bold text-center	my-4 text-primary">All Blog Posts</h1>
      {allPosts.map((p) =>
      <BlogPostPreview post={p} />)}
    </section>
  </main>
</Layout>