<footer class="footer p-10 bg-base-200 text-base-content">
  <div>
    <img alt="James" class="w-14	h-14"
      src="https://res.cloudinary.com/dub20ptvt/image/upload/v1650064753/James-Perkins-Site/royoky9w35ibgcwbgdg4.webp" />
    <p> © 2022 James Perkins</p>
  </div>
  <div>
    <a href="/" class="link link-hover">Home</a>
    <a href="/post" class="link link-hover">Blog</a>
    <a href="https://plausible.io/jamesperkins.dev" class="link link-hover">Analytics</a>
  </div>
  <div>
    <a href="mailto:contactme@jamesperkins.dev" class="link link-hover">Contact Me</a>
    <a href="https://youtube.com/c/learntocodewithjames" class="link link-hover">YouTube</a>
    <a href="https://twitch.tv/jamesperkins" class="link link-hover">Twitch</a>
  </div>
  <div>
    <a href="https://twitter.com/james_r_perkins" class="link link-hover">Twitter</a>
    <a href="https://www.polywork.com/jamesperkins" class="link link-hover">Polywork</a>
    <a href="https://www.github.com/perkinsjr/" class="link link-hover">Github</a>
  </div>
</footer>