<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex={0} class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </label>
      <ul tabindex={0} class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/">Home</a></li>
        <li><a href="/post">Blog</a></li>
        <li><a href="/category">Categories</a></li>
        <li><a>Contact</a></li>
        <li><a>YouTube</a></li>
        <li><a>Twitch</a></li>
      </ul>
    </div>

    <img class="mx-4" alt="James Perkins Emoji" height="64px" width="64px"
      src="https://res.cloudinary.com/dub20ptvt/image/upload/v1650064753/James-Perkins-Site/royoky9w35ibgcwbgdg4.webp" />
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li><a href="/">Home</a></li>
      <li><a href="/post">Blog</a></li>
      <li><a href="/category">Categories</a></li>
      <li><a>Contact</a></li>
      <li><a>YouTube</a></li>
      <li><a>Twitch</a></li>
    </ul>
  </div>
</div>